@font-face {
  font-family: "Jersey15";
  src: local("Jersey15"),
   url("/src/assets/Jersey15-Regular.ttf") format("truetype");
  font-weight: normal;
  }

body {
  margin: 0;
  width: inherit;
  height: inherit;
  font-family:  'Jersey15', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
background-color:#47ABA9;
color:#202929

}
#root{
  width: 640px;
  height: inherit;
}
.enemy-spawn{
  background-image: url(/src/assets/sand.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100px;
  width: 640px;
}
.grid-background{
  background-image: url(/src/assets/ground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.spritesheet-icon {
  position: absolute;
  width: 64px; /* Размер одного кадра спрайта */
  height: 64px;
  scale: 1.2 ;
  z-index: 10;
  
  background-image: url(/src/assets/SkeletonEn.png);
  background-repeat: no-repeat;
  animation: spriteAnimation 1s steps(8) infinite; /* 8 кадров в первом ряду, регулируйте время анимации по желанию */
}

@keyframes spriteAnimation {
  from {
    background-position: 0 0; /* Начальная позиция */
  }
  to {
    background-position: -512px 0; /* Смещение для 8 кадров (8 * 64px = 512px) */
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 10px);
  }
}
.progressplayer{
  width: inherit;
}
.progressplayer[value]::-webkit-progress-bar {
  background-color: #FF0000;
}

.progressplayer[value]::-webkit-progress-value {

  background-color: green;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}



.tower-selection-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
 
}

.towers {
  display: flex;
  gap: 10px;
  background-image: url('/src/assets/tower-selection-background.png');
  background-size: cover;
}

.tower {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
}

.tower-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  background-image: url('/src/assets/tower-border.png');
  z-index: 10;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tower-icon.blue {
  background-image: url('/src/assets/tower-1.png');
  z-index: 12;
  background-size: contain;
  background-repeat:no-repeat
}



.tower-price {
  font-size: 2rem;
  font-weight: bold;
  background-image: url('/src/assets/tower-cost-banner.png');
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
}
.tower-price-label{
color:#2f3e3e;
margin-bottom: 10px;
}
.resources {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resource {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 5px;
  background-image: url(/src/assets/table-resource.png);
  background-size: cover;
  width: 210px;
  height:70px;
  
}

.resource-icon {
  width: 60px;
  height: 60px;

  background-size: cover;
  background-position: center;
}

.resource-icon.gold {
  scale: 1.7 ;
  background-image: url('/src/assets/gold-animate.png');
  animation: gold-animation 1s steps(6) infinite;
}
.resource-icon.wood {
  scale: 1.7 ;
  background-image: url('/src/assets/wood-animate.png');
  animation: gold-animation 1s steps(6) infinite;
}

.resource-icon.wood {

}

.resource-count {
  font-size: 3rem;
  font-weight: 600;
 color:#202929
}
@keyframes gold-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -360px 0; /* 6 frames * 30px per frame */
  }
}


